.button1, .button2, .button3 {
    display: block;
    margin-bottom: 10px;
    height: 40px;
}

.button1 {
    font-weight: 900;
    width: 100px;
    border-radius: 20px;
    color: rgb(133, 175, 201);
    border: 2px solid rgb(133, 175, 201);
    background-color: white;
}

.button2 {
    width: 45px;
    background-color: rgb(36, 201, 201);
    color: white;
    border-radius: 50%;
    border: none;
}

.button3 {
    width: 150px;
    background-color: blue;
    color: white;
    border: 2px solid black;
    box-shadow: 3px 3px black;
}