* {
    margin: 0;
    padding: 0;
}

.top {
    background-color: lightskyblue;
    color: white;
}

.container, .nav {
    width: 1000px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    height: 120px;
}

.nav h1 {
    font-size: 3rem;
}

.nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: 1.5rem;
}

.nav a {
    font-size: 2rem;
    color: white;
}

.subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
    font-size: 1.5rem;
}

.row {
    display: flex;
}

.weather {
    text-align: center;
    background-color: rgb(202, 201, 201);
    padding: 40px;
    margin-right: 20px;
}

.weather img {
    border-radius: 50%;
    width: 150px;
}

.weather p {
    font-size: 1.5rem;
}

.temp {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.high::after, .low::after {
    content: "°";
}

.high {
    color: red;
}

.low {
    color: blue;
}

.bottom {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.cookie {
    width: 1000px;
    height: 150px;
    padding: 20px;
    border: 2px solid black;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.insert h2 {
    width: 50%;
}

.button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: 2px solid black;
    box-shadow: 4px 4px black;
    background-color: lightskyblue;
    cursor: pointer;
}

.insert {
    font-size: 1.5rem;
}





